{% extends 'index.html' %} 
{% block title %}About{% endblock title %}
{% block body %}


    <!-- /partial pt-home/subscribe -->


    <h2>What is it and who is it suited to?</h2>
    <p><b><br></b></p>
    <p><b> </b></p>
    <div id="Teads-inread"></div>
    <script type="text/javascript" class="teads" src="//a.teads.tv/page/108454/tag" async="true"></script>
    <p>Giving gifts is a tradition that spans all sections of society regardless of age, income or region.</p>
    <p>&nbsp;</p>
    <p>A gift shop is a store primarily selling souvenirs relating to a particular topic or theme. Items sold include
        kitchenware, toys, T-shirts, postcards and handmade collections.</p>
    <p>&nbsp;</p>
    <p>Gift shops are often found in tourist areas, although this is not always the case. Venues such as zoos,
        aquariums, national parks and museums often have their own gift shops.</p>
    <p>&nbsp;</p>
    <p>There are three distinct types of gift shops:</p>
    <ul>
        <li>Traditional. This type of store stocks a range of local products, often drawing on the local character of
            the area. </li>
        <li>Design-led. This type of store stocks well designed gifts and accessories, often at the higher end of the
            price bracket. </li>
        <li>Card and gift shops. This type of store places a much greater emphasis on cards, with a smaller selection of
            gifts. </li>
    </ul>
    <p><b> </b></p>

    <div id="div-gpt-ad-1558485359249-0">
        <script>
            googletag.cmd.push(function () { googletag.display("div-gpt-ad-1558485359249-0"); });
        </script>
    </div>
    <p>The gift shop business attracts a broad range of people, although someone who can multitask and has an eye for
        detail is bound to do well.</p>
    <p>&nbsp;</p>
    <p>Anybody working in retail should be sociable and enjoy meeting people. Running a gift shop may involve more
        interaction because customers will often need ideas or encouragement about what to buy.</p>
    <p>&nbsp;</p>
    <p>A basic understanding of marketing, accounting and management is also important.</p>
    <p>&nbsp;</p>
    <h2>Rules and regulations</h2>
    <p><b><br></b></p>
    <p><b> </b></p>
    <p>While there aren’t any specific rules and regulations that apply to gift shops, it’s worth making contact with an
        industry body such as Gift &amp; Homewares Australia.</p>
    <p>&nbsp;</p>
    <p>“We are a not-for-profit organisation dedicated to looking after the interests of our members and the industry,”
        it says.</p>
    <p>&nbsp;</p>
    <p>The Australian Greeting Card Association is also on hand to provide industry information. The association also
        works as a lobby group to influence government decisions that affect the sector.</p>
    <p>&nbsp;</p>
    <h2>Research and competition</h2>
    <p><b><br></b></p>
    <p><b> </b></p>
    <p>Although you don’t need any qualifications to start a gift shop, many people find it helpful to complete some
        basic commercial training.</p>
    <p>&nbsp;</p>
    <p>But ultimately, the most important aspect of a gift shop is its goods. The quality and range of products will be
        the foundation on which your build your reputation and customer base. It is important to stock products that
        can’t be found anywhere else.</p>
    <p>&nbsp;</p>
    <p>Your stock composition will depend greatly on the location of your business and the profile of your customers.
    </p>
    <p>&nbsp;</p>
    <p>If you’re operating in a tourist area, keep in mind that customers will be after local specialities and might not
        be as adverse to gimmicky items as local customers looking for quality gifts.</p>
    <p>&nbsp;</p>
    <p>Having said that, you need to ensure your stock also appeals to local residents so that you’re not solely reliant
        on the tourist season. In this regard, it might be an idea to consider an add-on such as a coffee bar, deli or
        newsagent.</p>
    <p>&nbsp;</p>
    <p>If you do target the tourist market, your location will be crucial as these customers will generally be on foot
        and are unlikely to know of your shop beforehand – they enter stores as they see them.</p>
    <p>&nbsp;</p>
    <p>A gift shop with a domestic market is less reliant on its position.</p>
    <p>&nbsp;</p>
    <p>It’s also worth setting up a website so that tourists and residents alike can purchase from you regardless of
        where they are.</p>
    <p>&nbsp;</p>
    <h2>Costs and earnings</h2>
    <p><b><br></b></p>
    <p><b> </b></p>
    <p>It is impossible to quote an exact figure for start-up costs since they will depend greatly on your location, the
        size of your shop, the products you sell and whether you rent or purchase your store.</p>
    <p>&nbsp;</p>
    <p>Once you have the premises, you will need to fit out the shop. This means installing display shelves and cabinets
        for the gifts and cards, some of which may need to be lockable if you are selling expensive items.</p>
    <p>&nbsp;</p>
    <p>You will also need a counter, a cash register and/or computer, and credit card payment facilities.</p>
    <p>&nbsp;</p>
    <p>And of course, you need something to sell. As a new business, suppliers will rarely give you credit, so initially
        all stock will have to be paid for upfront.</p>
    <p>&nbsp;</p>
    <p>Finally, you will need some working capital to keep you and your business going until sales start to take off.
    </p>
    <p>&nbsp;</p>
    <p>According to PayScale Australia, a retail store manager can earn more than $60,000 a year. If you own your store,
        you can obviously expect to take home more than this.</p>
    <p>&nbsp;</p>
    <p><b> </b></p>
    <h2>An average day</h2>
    <p><b><br></b></p>
    <p><b> </b></p>
    <p>Your basic role as a gift shop owner will be that of shopkeeper, so you will be responsible for sourcing and
        negotiating the buying of stock from suppliers, displaying and promoting the stock, and selling it to customers.
    </p>
    <p>&nbsp;</p>
    <p>In addition to dealing with suppliers, you will need to make sure that everything you buy is in keeping with the
        scheme of the shop.</p>
    <p>&nbsp;</p>
    <p>You will have to display items in an attractive way that compliments the style of the shop, with an appealing
        atmosphere that encourages shoppers to browse.</p>
    <p>&nbsp;</p>
    <h2>Useful contacts</h2>
    <p><b><br></b></p>
    <p><strong>Australian Greeting Card Association</strong></p>
    <p>03 8541 7333</p>
    <p><a target="_blank" href="http://www.greetingcardassociation.com.au/contact-us"
            rel="noopener">http://www.greetingcardassociation.com.au/contact-us</a></p>
    <p>&nbsp;</p>
    <p><strong>Gift &amp; Homewares Australia</strong></p>
    <p><a target="_blank" href="http://www.agha.com.au/contact-us/"
            rel="noopener">http://www.agha.com.au/contact-us/</a></p>
    <p>&nbsp;</p>
    <p><strong>Australian Chamber of Commerce and Industry</strong></p>
    <p>02 6273 2311</p>
    <p>03 9668 9950</p>
    <p>&nbsp;</p>
    <p><strong>Australian Government Small Business Support Line</strong></p>
    <p>1800 777 275</p>







</div>
{% endblock body %}


