{% extends 'index.html' %}
{% block title %}About{% endblock title %}
{% block body %}



<div class="mx-3">
    <h2>What is it and who is it suited to?</h2>
    <p><b><br></b></p>
    <p><b> </b></p>
    <div id="Teads-inread"></div>
    <script type="text/javascript" class="teads" src="//a.teads.tv/page/108454/tag" async="true"></script>
    <p>Giving gifts is a tradition that spans all sections of society regardless of age, income or region.</p>
    <p>A gift shop is a store primarily selling souvenirs relating to a particular topic or theme. Items sold include
        kitchenware, toys, T-shirts, postcards and handmade collections.</p>
    <p>Gift shops are often found in tourist areas, although this is not always the case. Venues such as zoos,
        aquariums, national parks and museums often have their own gift shops.</p>
    <p>There are three distinct types of gift shops:</p>
    <ul>
        <li>Traditional. This type of store stocks a range of local products, often drawing on the local character of
            the area. </li>
        <li>Design-led. This type of store stocks well designed gifts and accessories, often at the higher end of the
            price bracket. </li>
        <li>Card and gift shops. This type of store places a much greater emphasis on cards, with a smaller selection of
            gifts. </li>
    </ul>
    <p><b> </b></p>

    <div id="div-gpt-ad-1558485359249-0">
        <script>
            googletag.cmd.push(function () { googletag.display("div-gpt-ad-1558485359249-0"); });
        </script>
    </div>
    <p>The gift shop business attracts a broad range of people, although someone who can multitask and has an eye for
        detail is bound to do well.</p>
    <p>&nbsp;</p>
    <p>Anybody working in retail should be sociable and enjoy meeting people. Running a gift shop may involve more
        interaction because customers will often need ideas or encouragement about what to buy.</p>
    <p>A basic understanding of marketing, accounting and management is also important.</p>

</div>

</div>
{% endblock body %}
