{% extends 'index.html' %} 
{% block title %}Perfume{% endblock title %}

{% block body %}

<div class="flex-container" style="display:flex">
    <div style="width:40%"><img src="static/perf.jpg" alt="..." class="img-thumbnail mx-5" width="70%"></div>
    <div>
        <span class="a-size-large product-title-word-break" style="font-size:50px;"> Jo Malone English Pear Perfume


        </span>
        <ul class="a-unordered-list a-vertical a-spacing-mini my-3" style="font-size:22px;">
            <li><span class="a-list-item"> Jo Malone English pear & freesia edc 30 ml + Grapefruit edc 30 ml set
                </span></li>
            <li><span class="a-list-item"> he nose behind this fragrance is Marie Salamagne. </span>
            </li>
            <li><span class="a-list-item">Opoponax: rate only the most important ingredients you sense in this
                    fragrance. </span></li>
            <li><span class="a-list-item"> A feast for the nose indeed and all in the bright brilliant opening.
                </span></li>
            <li><span class="a-list-item">How could it be any better. Hold on for your olfactory vacation.
                </span></li>
        </ul>
        <span class="a-size-large product-title-word-break" style="font-size:50px;"> $266.34
        </span>
        <hr>
        <p>Qty:
            <select name="quantity" autocomplete="off" id="quantity" tabindex="0" data-action="a-dropdown-select" class="a-native-dropdown a-declarative">     <option value="1" selected="">1 </option>       <option value="2">2 </option>       <option value="3">3 </option>       <option value="4">4 </option>       <option value="5">5 </option>       <option value="6">6 </option>       <option value="7">7 </option>       <option value="8">8 </option>       <option value="9">9 </option>       <option value="10">10 </option> </select></p>
            <button data-product=3 data-action="add" type="button"  class="btn btn-warning add-btn update-cart">Add to Cart</button>
        <a href="/BuyNow"> <button type="button" class="btn btn-info">Buy Now!</button></a>
    </div>
</div>
<script type="text/javascript">
    
    function promptMe(){
        var msg = "Item inserted in cart";
        alert (msg);
    }
</script>


{% endblock body %}
