{% extends 'index.html' %} 
{% block title %}Watch{% endblock title %}

{% block body %}
<div class="flex-container" style="display:flex">
    <div style="width:40%"><img src="static/watch.jpg" alt="..." class="img-thumbnail mx-5" width="70%"></div>
    <div>
        <span class="a-size-large product-title-word-break" style="font-size:50px;"> Fossil Watch for men
        </span>
        <ul class="a-unordered-list a-vertical a-spacing-mini my-3" style="font-size:22px;">
            <li><span class="a-list-item"> Lawrence Lady Men's Watch by POLICE </span></li>
            <li><span class="a-list-item"> Clear Mineral Dial Glass and Stainless Steel Case in 48X55 mm </span>
            </li>
            <li><span class="a-list-item"> Quartz Movement with Multifunction and Date Features </span></li>
            <li><span class="a-list-item"> Water resistant up to 50 meters </span></li>
            <li><span class="a-list-item"> Each product comes with the brand's original packaging and 2-Year
                    International Manufacturer's Warranty Card </span></li>
        </ul>
        
        <span class="a-size-large product-title-word-break" style="font-size:50px;"> $129.99
        </span>
        <hr>
       
        <form class="mx-3" method="post" action="/Watch">
            <form class="mx-3" method="post" action="/BuyNow">
            <button data-product=1 data-action="add" type="button"  class="btn btn-warning add-btn update-cart">Add to Cart</button>
            <a href="/BuyNow"> <button type="button" class="btn btn-info">Buy Now!</button></a>
        </form>
    </div>
</div>





{% endblock body %}
